In [2]:
# 16 - B1
import numpy as np 
ùëå=np.array([201,400,402,387,512]) - –≤—Å—Ç–∞–≤–∏—Ç—å —Å–≤–æ–∏ —á–∏—Å–ª–∞ –≤ –∫–≤ —Å–∫–æ–±–∫–∏ 
ùëç=np.array([180,389,400,387,589])
# —Å—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ - –≤–æ–∑–≤–æ–¥–∏–º –≤ –∫–≤–∞–¥—Ä–∞—Ç!
sum((Y-Z)**2)/5 - –¥–µ–ª–µ–Ω–∏–µ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–∞ –¥—Ä—É–≥–æ–µ —á–∏—Å–ª–æ

1299.0

In [3]:
# –∞–±—Å–æ–ª—é—Ç–Ω–∞—è –æ—à–∏–±–∫–∞ - –Ω–µ—Ç –∫–≤–∞–¥—Ä–∞—Ç–∞, –µ—Å—Ç—å –º–æ–¥—É–ª—å |Y-Z|
sum(abs(Y-Z))/5

22.2

In [1]:
# 17(18)- B2
import numpy as np 
ùëå=[50, 300, 250, 200, 280] - –≤—Å—Ç–∞–≤–∏—Ç—å —Å–≤–æ–∏ —á–∏—Å–ª–∞ –≤ –∫–≤ —Å–∫–æ–±–∫–∏ 
ùëç=[50, 100, 89, 60, 43]
np.corrcoef(Y,Z) - –∑–∞–±–∏—Ä–∞–µ–º —á–∏—Å–ª–æ –ù–ï –ï–î–ò–ù–ò–¶–£

array([[1.        , 0.49331864],
       [0.49331864, 1.        ]])

In [6]:
round(-0.1299619,2)

-0.13

In [ ]:
T_heat = [80, 75, 80, 70]
Dur_sleep = [12,11,11,10]

In [3]:
# 18 - B3
y=np.array([12.5, 10, 13, 24.5]) - —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –∫—Ç–æ –∏–∫—Å, –∫—Ç–æ –∏–≥—Ä–∏–∫, –≤—Å—Ç–∞–≤–∏—Ç—å —Å–≤–æ–∏ —á–∏—Å–ª–∞ –≤ –∫–≤ —Å–∫–æ–±–∫–∏
x=np.array([240,235,313,555])
ssx = ((x-x.mean())**2).sum()
ssp = ((x-x.mean())*(y-y.mean())).sum()
w1 = ssp/ssx
w0 = y.mean() - w1*x.mean()

In [4]:
w1*w0

0.033934431838907424

In [31]:
w0

21.25

In [14]:
round(w0,2)

8.29

In [ ]:
# 19
import pandas as pd 
data = pd.read_csv('b4-4.csv')
#  –≤ plot –º—ã —Å–Ω–∞—á–∞–ª–∞ –∏–Ω–¥–µ–∫—Å–∏—Ä—É–µ–º —Å—Ç–æ–ª–±–µ—Ü –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ–π, –∞ –∑–∞—Ç–µ–º –∑–∞–≤–∏—Å–∏–º–æ–π 
data.plot('X', 'Y', kind = 'scatter')

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ 23(28, 29) - –°3
data.plot('—Åalories', 'protein', kind = 'scatter') - –≥—Ä–∞—Ñ–∏–∫ —Ä–∞—Å—Å–µ—è–Ω–∏—è (–∑–∞–¥–∞–Ω–∏–µ 19)
data[''].plot() - –ª–∏–Ω–µ–π–Ω—ã–π –≥—Ä–∞—Ñ–∏–∫
data[''].hist() - –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º–∞ 
data[''].hist(bins=—á–∏—Å–ª–æ) - –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º–∞ —Å –ø—Ä–æ–º–µ–∂—É—Ç–∫–æ–º –±–∏–Ω–∑ —Ä–∞–≤–Ω—ã–º –∫–∞–∫–æ–º—É-—Ç–æ —á–∏—Å–ª—É
data[''].value_counts().plot(kind='bar') - —Å—Ç–æ–ª–±—á–∞—Ç–∞—è 
data[''].value_counts().plot(kind='pie') - –∫—Ä—É–≥–æ–≤–∞—è
data[''].plot(kind='box') - —è—â–∏–∫ —Å —É—Å–∞–º–∏

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ 20 (20-23 –ë–ê–ó–ê) - –°1
.mean() - c—Ä–µ–¥–Ω–µ–µ –∞—Ä–∏—Ñ–º
.median() - –º–µ–¥–∏–∞–Ω–∞ 
.mode() - –º–æ–¥–∞ 
.std() - —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ
.var() - –¥–∏—Å–ø–µ—Ä—Å–∏—è 
.max() - –º–∞–∫—Å
.min() - –º–∏–Ω
.max()-.min() - —Ä–∞–∑–º–∞—Ö
.quantile(.25) - 1 –∫–≤–∞—Ä—Ç–∏–ª—å
.quantile(.75) - 3 –∫–≤–∞—Ä—Ç–∏–ª—å
.quantile(.75) - .quantile(.25) - –º–µ–∂–∫–≤–∞—Ä—Ç–∏–ª—å–Ω—ã–π —Ä–∞–∑–º–∞—Ö

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ 21 (20-23 –ë–ê–ó–ê) - –°2
.value_counts() - –Ω–∞–∏–º–µ–Ω–µ–µ/–Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—â–µ–µ—Å—è 
.mode() - –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ

In [16]:
import pandas as pd
data = pd.read_csv('c-4.csv')

In [17]:
#22
data['coded'] = data['M1'].apply(lambda x: 0 if x<data['M1'].median() else 1)

In [19]:
data['coded'].mean()

0.5

In [ ]:
# 22 - –°2  —Å–æ–∑–¥–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —É—Å–ª–æ–≤–∏—è–º, –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É –ø–æ —É—Å–ª–æ–≤–∏—é –∏ –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∫–≤–∞—Ä—Ç–∏—Ä—ã –≤ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ
def Bedrooms_Binned(x):
    if x<3:
        return 0 
    elif (x>=3)and(x<6):
        return 1
    elif x>=6:
        return 2
data['Bedrooms_Binned'] = data['bedrooms'].apply(Bedrooms_Binned)

In [ ]:
df = data[data['Bedrooms_Binned']==1]
round(df['price'].mean(),2)

In [ ]:
data[data['Bedrooms_Binned']==1]['price'].mean()

In [ ]:
#24 - C4
# 1 —Å–ø–æ—Å–æ–±: –∏–Ω—Ç–µ—Ä–∫–≤–∞—Ä—Ç–∏–ª—å–Ω—ã–π —Ä–∞–∑–º–∞—Ö
q1 = data['avg_glucose_level'].quantile(.25)
q3 = data['avg_glucose_level'].quantile(.75)
iqr=q3-q1
# –ù–∏–∂–Ω—è—è –≥—Ä–∞–Ω–∏—Ü–∞
line1 = q1 - 1.5*iqr
# –í–µ—Ä—Ö–Ω—è—è –≥—Ä–∞–Ω–∏—Ü—ã
line2 = q3 + 1.5*iqr

In [ ]:
data[(data['avg_glucose_level'] <= line1)|(data['avg_glucose_level'] >= line2)].shape

In [ ]:
# 2 —Å–ø–æ—Å–æ–±: –ø–æ —Å—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–º—É –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏—é
mean = data['avg_glucose_level'].mean()
std = data['avg_glucose_level'].std()
# –ù–∏–∂–Ω—è—è –≥—Ä–∞–Ω–∏—Ü–∞
b_line = mean - 2.5*std
# –í–µ—Ä—Ö–Ω—è—è –≥—Ä–∞–Ω–∏—Ü–∞
u_line = mean + 2.5*std

In [ ]:
data[(data['avg_glucose_level'] <= b_line)|(data['avg_glucose_level'] >= u_line)].shape

–í —É—Å–ª–æ–≤–∏–∏ 24 –∑–∞–¥–∞—á–∏, –µ—Å–ª–∏ –º—ã –≤–∏–¥–∏–º —Å–ª–æ–≤–æ "—Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ" –∏ –ª—é–±—É—é —Ü–∏—Ñ—Ä—É, –∑–Ω–∞—á–∏—Ç –º—ã —Ä–µ—à–µ–º –ø–æ 2 —Å–ø–æ—Å–æ–±—É –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞ –∏—Å–ø–æ–ª—å–∑—É–µ–º —Ü–∏—Ñ—Ä—É –∏–∑ —É—Å–ª–æ–≤–∏—è. –ï—Å–ª–∏ —Å–∫–∞–∑–∞–Ω–æ "–Ω–µ –æ—Ç–ª–∏—á–∞–µ—Ç –æ—Ç –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏—è", —Ç–æ–≥–¥–∞ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç —Ä–∞–≤–µ–Ω 1.

In [25]:
# 25 - C5
# abs - —Ñ—É–Ω–∫—Ü–∏—è, –∫–æ—Ç–æ—Ä–∞—è –Ω–∞—Ö–æ–¥–∏—Ç –º–æ–¥—É–ª—å 
x = data.groupby('time')[['M1','M2']].mean() - –ª—é–±–æ–π –º–µ—Ç–æ–¥
x['raz'] = abs(x['M1'] - x['M2']) # –ª—é–±–∞—è –∞—Ä–∏—Ñ–º –æ–ø–µ—Ä–∞—Ü–∏—è 
x['raz'].sort_values() # –Ω–∞–∏–º–µ–Ω—å—à–µ–µ –≤ —Å–∞–º–æ–º –≤–µ—Ä—Ö—É, –Ω–∞–∏–±–æ–ª—å—à–µ–µ –≤ —Å–∞–º–æ–º –Ω–∏–∑—É

–¢–æ —á—Ç–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –≤ —Å—Ç—Ä–æ–∫–∏, –º—ã –¥–æ–±–∞–≤–ª—è–µ–º –≤ –∫—Ä—É–≥–ª—ã–µ —Å–∫–æ–±–∫–∏, —Ç–æ, —á—Ç–æ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö, –º—ã –¥–æ–±–∞–≤–ª—è–µ–º –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã–µ, –∞ —Ç–æ —á—Ç–æ –≤ —è—á–µ–π–∫–∞—Ö - —ç—Ç–æ –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –º—ã –ø–∏—à–µ–º –ø–æ—Å–ª–µ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–æ–∫.

In [29]:
# 26(30)
data.corr()

             M1        M2        M3     coded
M1     1.000000 -0.041898  0.073291  0.795953
M2    -0.041898  1.000000  0.018336 -0.034658
M3     0.073291  0.018336  1.000000  0.051268
coded  0.795953 -0.034658  0.051268  1.000000

In [5]:
round(0.795953, 2)

0.8

In [1]:
# –µ—Å–ª–∏ –≤ —É—Å–ª–æ–≤–∏–∏ –ø–µ—Ä–µ—á–∏—Å–ª—è—é—Ç –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ
data[['M2', 'M1', 'M3']].corr()

NameError: name 'data' is not defined

In [30]:
data.corr()['M1']

M1       1.000000
M2      -0.041898
M3       0.073291
coded    0.795953
Name: M1, dtype: float64

In [ ]:
round(0.795953,2)

–ï—Å–ª–∏ –≤ —É—Å–ª–æ–≤–∏–∏ –ø–µ—Ä–µ—á–∏—Å–ª—è—é—Ç —Å—Ç–æ–ª–±—Ü—ã –ø–æ –∫–æ—Ç–æ—Ä—ã–º –Ω—É–∂–Ω–æ –Ω–∞—Ä–∏—Å–æ–≤–∞—Ç—å –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–æ–Ω–Ω—É—é –º–∞—Ç—Ä–∏—Ü—É, —Ç–æ –¥–µ–ª–∞–µ–º –≤–æ—Ç —Ç–∞–∫:

In [ ]:
data[['price', 'sqft_living', 'sqft_lot', 'bedrooms', 'bathrooms', 'floors']].corr()

In [19]:
# 26
data['Developer'].isna().sum()

6623

In [ ]:
# 27

In [20]:
import pandas as pd
data = pd.read_csv('c.csv')

In [15]:
data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,Ubisoft,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,Ubisoft,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN

In [22]:
round(data['NA_Sales'].mean(),2)

0.26

In [23]:
round(data['NA_Sales'].min(),2)

0.0

In [24]:
data['Genre'].mode()

0    Action
dtype: object

In [14]:
data['Developer'].fillna(data['Developer'].mode()[0], inplace=True)

In [13]:
data['Developer'].mode()[0]

'Ubisoft'

In [16]:
data[data['Developer'] == data['Developer'].mode()[0]]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,Ubisoft,NaN
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,Ubisoft,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,Ubisoft,NaN
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,Ubisoft,NaN
10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.05,10.95,1.93,2.74,24.67,NaN,NaN,NaN,NaN,Ubisoft,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,Ubisoft,NaN